/** Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/** Custom classes */
@layer utilities {
  .bg-blue-gradient {
    background-image: linear-gradient(to top, #141414, #0d1b2a);
    background-repeat: no-repeat;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* Typography */
  .h1 {
    @apply text-2xl lg:text-3xl;
  }

  .h2 {
    @apply text-xl lg:text-2xl;
  }

  .h3 {
    @apply text-lg lg:text-xl;
  }
}

/** General styles */
@layer base {
  body {
    @apply text-white-main font-normal bg-blue-gradient min-h-[100dvh];
  }

  h1 {
    @apply h1;
  }

  h2 {
    @apply h2;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply h3;
  }

  p,
  a,
  button,
  span {
    @apply text-base lg:text-lg;
  }

  img {
    @apply w-full;
  }

  input {
    @apply appearance-none rounded-none outline-none focus:outline-none active:outline-none;
  }

  ul,
  li {
    @apply list-none;
  }
}
